/*
    font-family: 'Revalia', cursive;

    font-family: 'Titillium Web', sans-serif;

    font-family: 'Indie Flower', cursive;

*/

/*mobile first*/
@media only screen and (max-width: 768px){

.header{
    background-color:#ff5c5c;
}

.intro{
    background-color:#54cc95;
    font-family: 'Titillium Web', sans-serif;
}
.intro p{
    font-size: 18px;
}
.port{
    background-color:#5bced7;
    font-family: 'Titillium Web', sans-serif;
}
.contact{
    background-color:#e65981;
    font-family: 'Titillium Web', sans-serif;
}
.contact p{
    font-size: 18px;
}
.social{
    background-color:#3995d8;
    font-family: 'Titillium Web', sans-serif;
}
.social .fa{
    font-size:25px;
    color:black;
    padding:10px;
    border:1px solid white;
    border-radius:10%;
}
.social .fa:hover{
    color:#12505b;
    border-color: black;
}
.social .top{
    text-decoration: none;
    color:black;
    font-family: 'Indie Flower', cursive;
    font-size:20px;
    border-bottom:2px solid black;
}
.social .top:hover{
    color:white;
    border-bottom:2px solid white;
}
.footer{
    padding-top: 5px;
    color:white;
    background-color:#12505b;
    font-family: 'Titillium Web', sans-serif;
}


}/*end of mobile first*/


/*Big screen*/
@media only screen and (min-width: 769px){

.header{
    position:fixed;
    z-index:1;
    width:100%;
    background-color:#336699;
    color:white;
    box-shadow: 5px 0px 20px #369;
    font-family: 'Titillium Web', sans-serif;
}
.navbar ul li:hover{
    color:white;
    border-bottom:2px solid black;
}

.intro{
    margin-top:179px;
    font-family: 'Titillium Web', sans-serif;
}
.intro p{
    font-size: 22px;
}
.navigation{
    padding-top:15px;
}
.port{
    font-family: 'Titillium Web', sans-serif;
}
.port img{
    margin:20px auto;
}
.contact{
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 5px;
}
.contact h2{
    padding-bottom: 5px;
}
.contact p{
    font-size: 22px;
}
.social{
    background-color: lightgrey;
}
.social .fa{
    font-size:50px;
    color:black;
    padding:10px;
}
.social .fa:hover{
    color:#12505b;
}
.social .top{
    text-decoration: none;
    color:black;
    font-family: 'Indie Flower', cursive;
    font-size:20px;
    border-bottom:2px solid black;
}
.social .top:hover{
    color:white;
    background-color: black;
}

.footer{
    color:white;
    background-color:#336699;
    font-family: 'Titillium Web', sans-serif;
}

}
/*end of big screen*/

/*All screens*/

.header{
    font-family: 'Revalia', cursive;
}
.mail{
    font-family: 'Indie Flower', cursive;
}
h2{
    color:black;
    text-decoration: none;
}

/*end of all screens*/