/*
    font-family: 'Revalia', cursive;

    font-family: 'Titillium Web', sans-serif;

    font-family: 'Indie Flower', cursive;

*/

/*mobile first*/
@media only screen and (max-width: 768px){

.header{
    background-color:#ff5c5c;
    position:fixed;
    z-index:1;
    width:100%;
}

.intro{
    background-color:#54cc95;
    margin-top:140px;
}
.border{
    padding-top:80px;
}
.port{
    background-color:#5bced7;
}
.contact{
    background-color:#e65981;
}
.social{
    background-color:#3995d8;
}
.social .fa{
    font-size:50px;
    color:black;
    padding:10px;
    border:3px solid blue;
    border-radius:20%;
}
.social .fa:hover{
    color:#12505b;
    border-color: #54cc95;
    background-color: #ff5c5c;
}
.footer{
    color:white;
    background-color:#12505b;
}


}/*end of mobile first*/


/*Big screen*/
@media only screen and (min-width: 769px){

.header{
    position:fixed;
    z-index:1;
    width:100%;
    background-color:#336699;
    font-family: 'Revalia', cursive;
    color:white;
    box-shadow: 5px 0px 20px #369;
}
.navbar ul li:hover{
    color:white;
    border-bottom:2px solid black;
}

.intro{
    margin-top:199px;
}
.navigation{
    padding-top:15px;
}
.mail{
    font-family: 'Indie Flower', cursive;
}



.footer{
    color:white;
    background-color:#336699;
}

}
/*end of big screen*/

